:root{
    --fundo: #d8bfd8;
    --cartao-frente: #6a5acd;
    --cartao-verso: #483d8b;
    --destaque: #fffb00;
    
    --preto: #000000;
    --branco: #ffffff;
    --sombra: #030c64;

}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--preto);   
    padding: 2rem;
}

header a{
    color: var(--branco);
    text-decoration: none;
}

#container{
    display: grid;
    gap: 2rem;
    margin: 2rem;
}

.conteudo-cartao{
    background-color: var(--cartao-frente);
    padding: 40px;
    border: 1px solid var(--destaque);
    transition: transform 0.2s;
    box-shadow: 10px 10px 30px var(--sombra);
}

.conteudo-cartao:hover{
    transform: scale(1.02);
}

.resposta-cartao{
    background-color: var(--cartao-verso);
        padding: 2rem;
        text-align: center;
        color: var(--branco);
}