:root{
    --fundo: #d8bfd8;
    --cartao-frente: #6a5acd;
    --cartao-verso: #483d8b;
    --destaque: #ff4500;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}